<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Calculadora</servlet-name>
        <servlet-class>adgimo.Calculadora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tablas</servlet-name>
        <servlet-class>adgimo.Tablas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comun</servlet-name>
        <servlet-class>adgimo.Comun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tablas1a10</servlet-name>
        <servlet-class>adgimo.Tablas1a10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_Acceso</servlet-name>
        <servlet-class>adgimo.Control_Acceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrar_usuarios</servlet-name>
        <servlet-class>adgimo.Mostrar_usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estadisticas_user</servlet-name>
        <servlet-class>Estadisticas_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estadisticas</servlet-name>
        <servlet-class>adgimo.Estadisticas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calculadora</servlet-name>
        <url-pattern>/Calculadora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tablas</servlet-name>
        <url-pattern>/Tablas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comun</servlet-name>
        <url-pattern>/Comun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tablas1a10</servlet-name>
        <url-pattern>/Tablas1a10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_Acceso</servlet-name>
        <url-pattern>/Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrar_usuarios</servlet-name>
        <url-pattern>/mostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Estadisticas_user</servlet-name>
        <url-pattern>/Estadisticas_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Estadisticas</servlet-name>
        <url-pattern>/Estadisticas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
